<%= month_calendar events: @user_appointments do |date, appointments| %>
  <%= date.strftime('%d') %>

  <% appointments.each do |appointment| %>
    <div class="calendar">
      <strong>Time:</strong><%= appointment.start_time.strftime(" %I:%M%p") %>
      <% end %>
    </div>
  <% end %>

<center><strong><%= link_to "Add Event to Calendar", new_user_calendar_path(@user) %></strong></center>