Welcome to FitnessPlanner


<!-- Blueprint for links -->
<br>
<a href="/sessions/new">Log in</a>
<a href="/user/new">Register</a>
<a href="/logout">Log out</a>
<a href="/user/show">My profile</a>
Calendar<br>
Exercises<br>
Meals<br>