<!DOCTYPE html>
<html>
  <head>
    <title>FitnessPlanner</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  <a href="/sessions/new">Log in</a>
	<a href="/user/new">Register</a>
	<a href="/logout">Log out</a>
	<a href="/user/show">My profile</a><br>
    <%= yield %>
  </body>
</html>
